[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
libsass = "*"
django-sass-processor = "*"
django-rest-knox = "*"
reportlab = "*"
xhtml2pdf = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
