{% extends 'client/layouts/_base.html' %}



{% block ntitle %} | Création Comppte{% endblock ntitle %}





{% block ncontent %}

<div class="card-title text-center m-5 pt-5">
    <h1 class="text-secondary p-3">Connexion</h1>
</div>


<form method="POST" class="row g-3 needs-validation w-50 mx-auto px-5" novalidate>

    {% csrf_token %}

    <div class="col-md-12 px-5">
        <label for="validationCustom02" class="form-label">Numéro de compte ou téléphone</label>
        <input type="tel" name="phone" class="form-control rounded-pill" id="validationCustom02"
            pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="0997057917" required>
        <div class="invalid-feedback">
            Entrer un numéro valide.
        </div>
    </div>

    <div class="col-md-12 px-5 mb-3">
        <label for="validationCustom01" class="form-label">Mot de passe</label>
        <input type="password" name="password" class="form-control rounded-pill" id="validationCustom01" 
                placeholder="Mot de passe" required>
        <div class="invalid-feedback">
            Veillez entrer le mot de passe.
        </div>
    </div>


    {% if messages %}
        <ul class="message p-0" style="list-style-type: none;">
            {% for message in messages %}
                <li class="text-danger" style="font-size:14px; text-align:center;">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}


    <div class="d-grid gap-2 px-5 text-center">
        <button type="submit" class="btn rounded-pill list-group-item-info menu px-5">
            Se connecter
        </button>
        <small>Vouz avez pas encore un compte ? <a href="{% url 'clientAccount' %}">Créer un compte</a></small>
    </div>

</form>

{% endblock ncontent %}