{% extends 'client/layouts/_base.html' %}



{% block ntitle %} | Création Compte{% endblock ntitle %}





{% block ncontent %}

<div class="card-title text-center m-5 pt-5">
    {% if messages %}
            <ul class="message p-0" style="list-style-type: none;">
                {% for message in messages %}
                    <li class="list-group-item-{{message.tags}}"
                    style="font-size:14px; padding: 12px; text-align:center;">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    <h1 class="text-secondary">Création d'un compte</h1>
</div>


<form method="POST" class="row g-3 needs-validation w-50 mx-auto px-5" novalidate>
    {% csrf_token %}
    <div class="col-md-12">
        <label for="validationCustomUsername" class="form-label">Nom d'utilisateur</label>
        <div class="input-group has-validation">
            <!-- <span class="input-group-text" id="inputGroupPrepend">@</span> -->
            <input type="text" name="username" class="form-control rounded-pill" 
                    id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                    placeholder="nkayisi" required>
            <div class="invalid-feedback">
                Veillez choisir un nom d'utilisateur.
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <label for="validationCustom02" class="form-label">Téléphone</label>
        <input type="tel" name="phone" class="form-control rounded-pill" id="validationCustom02"
            pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="0997057917" required>
        <div class="invalid-feedback">
            Entrer un numéro valide.
        </div>
    </div>

    <div class="col-md-6">
        <label for="validationCustom01" class="form-label">Mot de passe</label>
        <input type="password" name="password" class="form-control rounded-pill" id="validationCustom01" 
                placeholder="Mot de passe" required>
        <div class="invalid-feedback">
            Veillez entrer le mot de passe.
        </div>
    </div>



    <div class="col-md-6 mb-5">
        <label for="validationCustom03" class="form-label">Confirmation</label>
        <input type="password" name="password2" class="form-control rounded-pill" id="validationCustom03"
                placeholder="Confirmation du mot de passe" required>
        <div class="invalid-feedback">
            Mot de passe non valide.
        </div>
    </div>


    <div class="d-grid gap-2 text-center">
        <button type="submit" class="btn rounded-pill list-group-item-info menu px-5">
            Crée un compte
        </button>
        <small>Vous avez déjà un compte ? <a href="{% url 'login' %}">Connexion</a></small>
    </div>

</form>

{% endblock ncontent %}